# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Examples/ExampleStorage/.vs/
*.vcxproj
*.filters
*.user
Examples/ExampleStorage/__vm/
Examples/ExampleStorage/Release/
Examples/ExampleStorage/Debug/
*.sln
Examples/ExampleWearLevel/.vs
Examples/ExampleWearLevel/__vm
Examples/ExampleWearLevel/Release
